/*FONTS*/
@font-face {
    font-family: 'jumpman';
    src: url('../fonts/jumpman-webfont.woff2') format('woff2'),
        url('../fonts/fontsjumpman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'emulogic';
    src: url('../fonts/emulogic-zrew-webfont.woff2') format('woff2'),
        url('../fonts/emulogic-zrew-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**code Sanne**/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button:not([disabled]) {
    cursor: pointer;
}

/*EIGEN CODE*/
html {
    height: 100%;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(136, 182, 218, 1) 90%);
    margin: 0;
    padding: 0;
}

/*tekst boven in het scherm*/
header {
    position: relative;
    top: 0;
}

h1 {
    font-family: 'jumpman', sans-serif;
    font-size: 3em;
    text-shadow: -0.06em -0.06em 0 rgb(243, 187, 83), 0.06em -0.06em 0 rgb(243, 187, 83), -0.06em 0.06em 0 rgb(243, 187, 83), 0.06em 0.06em 0 rgb(243, 187, 83);
    color: rgb(210, 44, 48);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: .3em;
}

p {
    font-family: 'emulogic', sans-serif;
    font-size: 1em;
    color: #ffffff;
    margin: 0em 1.5em 1em 1.5em;
    text-align: center;
}

/*achtergrond jungle*/
img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
}

/*buttons*/
section {
    display: flex;
    position: relative;
    top: 20em;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 9em;
    justify-content: center;
    margin: 0 8%;
}

/*aapjes die gaan veranderen in javascript*/
img.ikHebKleurGekregen1 {
    background-image: url('../images/DK_1986.svg');
}

img.ikHebKleurGekregen2 {
    background-image: url('../images/DK_1988.svg');
}

img.ikHebKleurGekregen3 {
    background-image: url('../images/DK_1994.png');
}

img.ikHebKleurGekregen4 {
    background-image: url('../images/DK_1999.png');
}

img.ikHebKleurGekregen5 {
    background-image: url('../images/DK_2010.png');
}

img.ikHebKleurGekregen6 {
    background-image: url('../images/DK_2014.png');
}

/**code Sanne**/
section button {
    appearance: none;
    background: none;
    border: none;
    font: inherit;

}

section button:hover {
    filter:
        drop-shadow(0 0 .25em yellow) drop-shadow(0 0 .5em yellow);
    cursor: pointer;
}

section button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 .25em yellow;
}

section button img {
    position: relative;
    display: block;
    width: 4em;
    height: 4em;
    transform: perspective(5em) rotatey(0turn);
    transition: transform 1s;
}

section button:active img {
    transform: perspective(5em) rotatey(-1turn);
    transition: 0s;
}

/*Donkey Kong aapjes*/
ol {
    display: grid;
    position: relative;
    top: 24.5em;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 1em;
    align-content: center;
    margin: 0 5%;
}

ol li {
    list-style-type: none;
}

ol li img {
    position: absolute;
    display: block;
    width: 10%;
    height: auto;
}

/**code Sanne**/
@media (prefers-reduced-motion:no-preference) {
    ol li img:hover {
        animation-name: springen;
        animation-duration: 0.5s;
        animation-fill-mode: none;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }
}

@keyframes springen {
    0% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }


    100% {
        transform: translateY(-5em);
        animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
    }
}
