/*FONTS*/
@font-face {
    font-family: Jumpman;
    src: url(Jumpman.ttf);
}

@font-face {
    font-family: Emulogic;
    src: url(Emulogic-zrEw.ttf);
}

/**code Sanne**/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button:not([disabled]) {
    cursor: pointer;
}

/*EIGEN CODE*/
html {
    height: 100%;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(136, 182, 218, 1) 70%);
    margin: 0;
    padding: 0;
}

/*tekst boven in het scherm*/
header {
    position: relative;
    top: 0;
}

h1 {
    font-family: Jumpman, sans-serif;
    font-size: 3em;
    text-shadow: -0.06em -0.06em 0 rgb(243, 187, 83), 0.06em -0.06em 0 rgb(243, 187, 83), -0.06em 0.06em 0 rgb(243, 187, 83), 0.06em 0.06em 0 rgb(243, 187, 83);
    color: rgb(210, 44, 48);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: .3em;
}

p {
    font-family: Emulogic;
    font-size: 1em;
    color: #ffffff;
    margin: 0em 1.5em 1em 1.5em;
    text-align: center;
}

/*achtergrond jungle*/
img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
}

/*buttons*/
section {
    display: flex;
    position: relative;
    top: 20em;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 9em;
    justify-content: center;
    margin: 0 8%;
}

/**code Sanne**/
section button {
    appearance: none;
    background: none;
    border: none;
    font: inherit;
    transition: transform 1s;
}

section button:hover {
    filter:
        drop-shadow(0 0 .25em yellow) drop-shadow(0 0 .5em yellow);
    cursor: pointer;
}

section button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 .25em yellow;
}

section button:active {
    transform: perspective(5em) rotatey(-1turn);
    transition: 0s;
}

section button img {
    width: 4em;
    height: 4em;
}

/*Donkey Kong aapjes*/
ol {
    display: grid;
    position: relative;
    top: 24.5em;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 1em;
    align-content: center;
    margin: 0 5%;
}

ol li {
    list-style-type: none;
}

ol li img {
    width: 10%;
    height: auto;
}
